:root {
  --clr-white: #e0e1dd;
  --clr-black: rgb(34, 34, 42);

  &[data-theme='light'] {
    --clr-priamry: #1c2541;
    --clr-secondary: ;
    --clr-accent: ;
    --clr-text: var(--clr-black);
    --clr-background: ;
  }

  &[data-theme='dark'] {
    --clr-priamry: #415a77;
    --clr-secondary: #778da9;
    --clr-accent: ;
    --clr-text: #e0e1dd;
    --clr-background-100: #1b232b;
    --clr-background-200: #1b263b;
  }
}
