:root {
  --clr-white: #e0e1dd;
  --clr-black: rgb(34, 34, 42);
  --clr-primary: #415a77;
  --clr-secondary: #778da9;

  &[data-theme='light'] {
    --clr-text: var(--clr-black);
    --clr-box-shadow: #f0f1f2;
    --clr-background-100: #fff;
    --clr-background-200: #fff;
  }

  &[data-theme='dark'] {
    --clr-text: #e0e1dd;
    --clr-box-shadow: #263756;
    --clr-background-100: #0d1b2a;
    --clr-background-200: #1b263b;
  }
}
